<footer id="sticky-footer" class="py-4" style="background-color: #e3f2fd;">
    <div class="container text-center">
        <small>2020 &copy; John Deliso and Beatrix Woo</small>
    </div>
</footer>
