
<!-- Navbar created with Bootstrap -->

<nav class="navbar sticky-top navbar-expand-lg " style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/posts">
        <img src="https://i.ibb.co/RCV0S6R/shark.gif" width="30" height="30" class="d-inline-block align-top" alt="">
        Sharkburg
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/posts">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts/newpost">Submit Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Subburgs</a>
            </li>
        </ul>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>

        <span class="navbar-text">
            <a href="/redditor/login">Log In</a> | <a href="/redditor/newuser">Sign Up</a>
        </span>
    </div>
</nav>




