<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="https://i.ibb.co/RCV0S6R/shark.gif" />
    <title>Front Page</title>
    <%- include('../partials/postStyles') %>
</head>
<body>

    <%- include('../partials/nav') %>

    <div class='submitPost'>
        <h3>Create an Account</h3> <br>
        <form action="/redditor" method="POST">
            <div class="form-group">
                Username: <input type='text' name='username' />
                password: <input type='password' name='password' />
                Email: <input type='email' name='email' />
            </div>
            <div class="text-left">
                    <button type="submit" class="btn btn-primary">Create User</button>
            </div>
        </form>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>
