<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Editing <%= onePost.title %> </title>
</head>
<body>
    <h1><b>Title: </b> <%= onePost.title %> </h1>
    <div>
        <form action="/posts/<%= onePost._id %>?_method=PUT" method="POST">
            Context: <input type="text" name="body" value="<%= onePost.body %>"><br>
            <input type="submit" value="Submit Changes">
        </form>
    </div>
</body>
</html>
