<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Create a Post</title>
</head>
<body>
    <h1>Create a Post</h1>

    <form action="/posts" method="POST">
        Title: <input type='text' name='title' /><br>
        Context: <input type='text' name='body' /><br>
        <input type='submit' value ='Submit Post' />
    </form>

</body>
</html>
